@import "~node_modules/bootstrap/scss/mixins";
@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.navbar {
  &_nav {
    padding: 24px 0px;
  }

  &_menu, &_shop-menu {
    @include  media-breakpoint-up(lg) {
      justify-content: flex-end;
    }
    @include flex(row, flex-start, center);

    li, button {
      @include media-breakpoint-up(lg) {
        margin: 0px 16px;
      }
      margin-right: 16px;
      @include flex(row, space-between, center);

      span {
        font-size: 12px;
        font-weight: bold;
      }
    }

    i {
      font-size: 24px;
      margin-right: 0.5rem;
    }
  }

  &_menu {
    @include media-breakpoint-up(lg) {
      border-right: 1px solid $dark;
      margin-bottom: 0;
    }

    margin-bottom: 8px;
  }
}

.carousel {
  @include media-breakpoint-up(lg) {
    margin-bottom: 96px;
  }
  margin-bottom: 5rem;

  &_slide {
    @include height(420px);
    @include background-image(cover, center);
    background-color: $dark;
    width: 100vw;
    position: relative;
  }

  &_img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }

  &_text{
    @include wh(100%);
    @include flex(column, center, center);
    text-align: center;
    position: relative;
    z-index: 3;

    h1, p {
      color: white;
      margin-bottom: 1rem;
    }

    h1 {
      border: 1px solid white;
      padding: 1rem;
      border-radius: 50px;
    }
  }
}

.proof{
  @include height(300px);
  background-color: $dark;
  margin-bottom: 24px;
}
