@import "~node_modules/bootstrap/scss/mixins";
@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.navbar {
  &_nav {
    padding: 24px 0px;
  }

  &_menu, &_shop-menu {
    @include flex(row, flex-end, center);

    li, button {
      margin: 0px 16px;
      @include flex(row, space-between, center);

      span {
        font-size: 12px;
        font-weight: bold;
      }
    }

    i {
      font-size: 24px;
      margin-right: 0.5rem;
    }
  }

  &_menu {
    border-right: 1px solid $dark;
  }
}

.carousel {
  margin-bottom: 96px;

  &_slide {
    @include height(420px);
    @include background-image(cover, center);
    background-color: $dark;
    width: 100vw;
  }

  &_text{
    @include wh(100%);
    @include flex(column, center, center);
    text-align: center;

    h1, p {
      color: white;
      margin-bottom: 1rem;
    }

    h1 {
      border: 1px solid white;
      padding: 1rem;
      border-radius: 50px;
    }
  }
}

.proof{
  @include height(200px);
  background-color: $dark;
  margin-bottom: 24px;
}
