<section class="navbar-section">
  <nav class="navbar_nav navbar-light bg-light">
    <div class="container">
      <div class="row w-100">
        <div class="col-lg-3">
          <a class="navbar-brand" href="#">
            <img src="https://dchiripaskate.com/assets/images/Producto_Skateboard/Logotipo_Ruberik.png" width="30"
                 height="30" class="d-inline-block align-top" alt="">
            D'chiripa
          </a>
        </div>

        <div class="col-lg-9">
          <div class="row p-0 justify-content-lg-end justify-content-md-start">
            <ul class="navbar_menu col-md-8">
              <li>
                <a>
                  Inicio
                </a>
              </li>
              <li>
                <a>
                  Contacto
                </a>
              </li>
              <li>
                <a>
                  Nosotros
                </a>
              </li>
            </ul>

            <ul class="navbar_shop-menu col-md-4">
              <button class="btn btn-dark btn-sm text-white">
                <i class="fas fa-user-astronaut"></i>
                <span>Inicia Sesión</span>
              </button>
              <button class="btn btn-outline-dark btn-sm">
                <i class="fas fa-shopping-cart"></i>
                <span>0 Articulos</span>
              </button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>

<section class="carousel">
  <ngx-slick-carousel class="slick-carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <!-- SlickItem -->
    <div ngxSlickItem class="slide carousel_slide"
         *ngFor="let slide of slides"
         [ngStyle]="{'background-image': 'url(' + slide.image + ')'}">
      <!--Image OVERLAY -->
      <div class="carousel_img-overlay"></div>
      <div class="carousel_text">
        <h1>{{slide?.title}}</h1>
        <p>{{slide?.description}}</p>
        <button [routerLink]="slide?.buttonURL" class="btn btn-light">{{slide?.buttonText}}</button>
      </div>
    </div>
    <!-- /SlickItem -->
  </ngx-slick-carousel>
</section>

<section class="categories">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="proof"></div>
      </div>
      <div class="col-lg-6">
        <div class="proof"></div>
      </div>
      <div class="col-lg-12">
        <div class="proof"></div>
      </div>
    </div>
  </div>
</section>
