<section class="navbar">
  <div class="container pt-3">
    <div class="row w-100 align-items-center justify-content-between">
      <div class="col-3">
        <div class="navbar_logo">
          <img src="../../assets/images/Logotipo_Ruberik.png" alt="" />
          <span>D'Chiripa Skateboarding</span>
        </div>
      </div>

      <div class="col-3 float-right">
        <div class="navbar_icons">
          <div class="navbar_icons--login">
            <i class="fas fa-user"></i>
          </div>
          <div class="navbar_cart">
            <i class="fab fa-opencart"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="carousel">
  <div class="container">
    <div class="row">
      <div class="col-12">

          <ngx-slick-carousel class="slick-carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <!-- SlickItem -->
            <div ngxSlickItem class="slide position-relative">
              <img class="carousel_container_bg" src="../../assets/images/skatewallpaper.jpg" alt="">
              <div class="carousel_container">
                <h2 class="carousel_container_title">Las mejores patinetas al 50% de Descuento</h2>
                <p class="carousel_container_paragraph">Increibles Diseños</p>
                <button class="btn btn-dark carousel_container_btn">Checar Articulos</button>
              </div>
            </div>
            <!-- /SlickItem -->
            <!-- SlickItem -->
            <div ngxSlickItem class="slide position-relative">
              <img class="carousel_container_bg" src="../../assets/images/skatewall.jpg" alt="">
              <div class="carousel_container">
                <h2 class="carousel_container_title">Patina como los mejores</h2>
                <p class="carousel_container_paragraph">Checa la nueva daewon song</p>
                <button class="btn btn-dark carousel_container_btn">Checar Articulos</button>
              </div>
            </div>
            <!-- /SlickItem -->
            </ngx-slick-carousel>

        </div>
      </div>
    </div>
</section>

<section class="main">
  <div class="container">
    <div class="row">
      <!--MENU COLUMN-->
      <div class="col-md-2 col-sm-12">
        <nav class="main_navbar">
          <ul class="main_navbar--menu">
            <li class="main_navbar--item">
              <p class="link-text">Inicio</p>
              <i class="link-icon fas fa-home"></i>
            </li>
            <li class="main_navbar--item">
              <p class="link-text">Nosotros</p>
              <i class="link-icon fas fa-user-astronaut"></i>
            </li>
            <li class="main_navbar--item">
              <p class="link-text">Contacto</p>
              <i class="link-icon fas fa-headset"></i>
            </li>
          </ul>

          <ul class="main_navbar--categories">
            <li class="main_navbar--item cat">
              <p class="link-text">Nuevos Productos!</p>
              <i class="main_navbar--categories--fire fas fa-fire"></i>
            </li>
            <li class="main_navbar--item cat">
              <p class="link-text">Ultimos Descuentos!</p>
              <i class="main_navbar--categories--percentage fas fa-percent"></i>
            </li>
            <li class="main_navbar--item cat">
              <p class="link-text">Nuestra Tienda</p>
              <i class="main_navbar--categories--products fab fa-shopify"></i>
            </li>
          </ul>
        </nav>
      </div>
      <!--/END OF MENU COLUMN-->

      <div class="col-md-10 col-sm-12">
        <div class="main_products bg-dark">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul></ul>
  </nav>
</section>