<div class="form">
  <div class="form-group">
    <label for="name">Nombre de Contacto</label>
    <input type="text" id="name" [(ngModel)]="name" name="name">
  </div>
  <div class="form-group">
    <label for="address">Direccion de contacto</label>
    <input type="text" id="address" [(ngModel)]="address" name="address">
  </div>
  <div class="form-group">
    <label for="phone">Telefono de contacto</label>
    <input type="text" id="phone" [(ngModel)]="phone" name="phone">
  </div>
  <div class="form-group">
    <label for="email">Correo electronico de contacto</label>
    <input type="text" id="email" [(ngModel)]="email" name="email">
  </div>

  <button (click)="updateData()" class="btn btn-lg btn-primary">Actualizar Datos</button>
</div>
