// Colors
$primary-color: #9BC4BD;
$secondary-color: #7EB6AD;

$success-color: #2ecc71;
$info-color: #6b8dff;
$warning-color: #FFD422;
$danger-color: #ff5e5b;

$light: #F4F4F2;
$dark: #2B304A;

$gray-900: #8496A9;
$gray-800: #B0AFC0;

// Fonts
//
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Bitter', serif;

// -----------------------------------------------------------------------------
// Bootstrap Resets
// -----------------------------------------------------------------------------

// Color system
$theme-colors: (
  "primary":    $dark,
  "secondary":  $light,
  "success":    $success-color,
  "info":       $info-color,
  "warning":    $warning-color,
  "danger":     $danger-color,
  "light":      $light,
  "dark":       $dark,
);

//grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);
